@charset "UTF-8";

#search-box-container {
    text-align: center;
    margin-top: 150px;
}

#search-text {
    text-align: center;
    width: 95px;
    height: 80px;
    border: none;
    line-height: 40px;
    background: none;
    background-image: url('../../../icons/search.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: 1px solid white;
    transition: 1s;
    border-radius: 40px;
    font-size: 20px;
}

#search-text::placeholder {
    font-size: 15px;
    color: white;
    opacity: 0.7;
}

#search-box-container:hover #search-text {
    width: 260px;
    background-size: 0px;
}

#search-text::placeholder {
    color: rgba(0, 0, 0, 0);
    transition: 1s;
}

#search-box-container:hover #search-text::placeholder {
    color: white;
}