@charset "UTF-8";

@media (max-width: 414px) {
    #drink-image {
        height: 300px;
        width: 300px;
    }
    #instructions {
        width: 330px;
    }
    #return {
        height: 48px;
        width: 48px;
    }
    #title {
        margin-top: 80px;
    }
}

@media (max-width: 320px) {
    #drink-image {
        height:270px;
        width: 270px;
    }
    #instructions {
        width: 300px;
    }
}

@media (max-width: 280px) {
    #drink-image {
        height:220px;
        width: 220px;
    }
    #instructions {
        width: 260px;
    }
}